.nullpi__about {
    display: flex;
    flex-direction: row;
}

.nullpi__about-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    margin-right: 5rem;
}
.nullpi__about-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}
.nullpi__about-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);

    margin-top: 1.5rem;
    
}

.nullpi__about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.nullpi__about-image img {
    width: 75%;
    height: 100%;
}

@media screen and (max-width: 1050px) {
    .nullpi__about {
        flex-direction: column;
    }
    .nullpi__about-content {
        margin: 3rem 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .nullpi__about-content h1 {
        font-size: 48px;
        line-height: 60px;
    }
    .nullpi__about-content p {
        font-size: 16px;
        line-height: 24px;
    }
    
}

@media screen and (max-width: 490px) {
    .nullpi__about-content h1 {
        font-size: 36px;
        line-height: 48px;
    }
    .nullpi__about-content p {
        font-size: 14px;
        line-height: 24px;
    }
}