* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body {
  background: var(--color-bg);
}

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  background:-moz-linear-gradient(0deg, rgba(91,41,83,1) 22%, rgba(158,141,92,1) 73%, rgba(38,100,149,1) 100%);;
  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(0deg, rgba(91,41,83,1) 22%, rgba(158,141,92,1) 73%, rgba(38,100,149,1) 100%);

  /* opera 11.10+ */
  background:-o-linear-gradient(0deg, rgba(91,41,83,1) 22%, rgba(158,141,92,1) 73%, rgba(38,100,149,1) 100%);
  /* ie 10+ */
  background:-ms-linear-gradient(0deg, rgba(91,41,83,1) 22%, rgba(158,141,92,1) 73%, rgba(38,100,149,1) 100%);
  /* global 92%+ browsers support */
  background:linear-gradient(0deg, rgba(91,41,83,1) 22%, rgba(158,141,92,1) 73%, rgba(38,100,149,1) 100%); 
}

.inverted_gradient__bg {
  background: rgb(13, 3, 11);
  background: -moz-linear-gradient(0deg, rgba(13, 3, 11, 1) 22%, rgba(38, 100, 149, 1) 41%, rgba(158, 141, 92, 1) 60%, rgba(91, 41, 83, 1) 96%);
  background: -webkit-linear-gradient(0deg, rgba(13, 3, 11, 1) 22%, rgba(38, 100, 149, 1) 41%, rgba(158, 141, 92, 1) 60%, rgba(91, 41, 83, 1) 96%);
  background: linear-gradient(0deg, rgba(13, 3, 11, 1) 22%, rgba(38, 100, 149, 1) 41%, rgba(158, 141, 92, 1) 60%, rgba(91, 41, 83, 1) 96%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d030b", endColorstr="#5b2953", GradientType=1);
}

.navbar__bg{
  background: var(--gradient-text);
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }  
}
