@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(183deg, rgba(22,159,203,1) 0%, rgba(255,135,252,1) 100%);
  --gradient-bar: linear-gradient(0deg, #00e8ff 0%, #097c41 46%, #0012ff 100%);
  
  --color-bg: #00e8ff;
  --color-footer : #00818e;
  --color-blog: #22c1c3;
  --color-text: #79bceb;
  --color-subtext: #a579eb;
}